/* CARD PRINCIPAL */

/* TÍTULOS DA TABELA */
.table thead > tr > th span {
    border: none;
    font-size: 0.95em;
    font-weight: 600;
    text-transform: uppercase;
    color: #003DA5;
}

/* TABELA */
.table tbody > tr > td {
    font-size: 0.875em;
    background: #ffffff;
    border-top: 8px solid #F2F4F8;
    vertical-align: middle;
    padding: 12px 8px;
}

/* HOVER LINHA */
.table-hover tbody tr:hover td {
    background: #E6EEF8;
}

/* AVATARES */
.user-list tbody td > img {
    max-width: 55px;
    border-radius: 8px;
    border: 2px solid #0956FF;
}

/* NOME DO USUÁRIO */
.user-link {
    display: block;
    font-size: 1.1em;
    color: #0956FF;
    font-weight: 600;
}

.user-link:hover {
    color: #246FDB;
}

/* SUB-TÍTULO */
.user-subhead {
    font-size: 0.85em;
    color: #555;
}

/* STATUS LABELS REESTILIZADOS */
.label {
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 0.75em;
    font-weight: bold;
}

.label-default {
    background: #9aa0a6;
}
.label-success {
    background: #00A65A;
}
.label-warning {
    background: #FFB100;
}
.label-danger {
    background: #D70000;
}

/* ICONES DE AÇÕES */
.table a.table-link {
    margin: 0 5px;
    font-size: 1.2em;
    color: #0956FF;
}

.table a.table-link:hover {
    color: #246FDB;
}

.table a.table-link.danger {
    color: #D70000;
}

.table a.table-link.danger:hover {
    color: #A10000;
}

/* PAGINAÇÃO GM */
.pagination li a {
    color: #0956FF;
    font-weight: bold;
    border-radius: 6px;
}

.pagination li a:hover {
    background: #0956FF;
    color: white;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 10px 20px;
    color: #0956FF;
}

/* Texto responsivo */
.titulo h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

/* SVG responsivo */
.titulo-logo {
    width: 55px;
    height: auto;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .titulo {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 8px;
    }

    .titulo h1 {
        font-size: 1.6rem;
    }

    .titulo-logo {
        width: 45px;
    }
}

/* Responsividade para celulares pequenos */
@media (max-width: 480px) {
    .titulo h1 {
        font-size: 1.3rem;
    }

    .titulo-logo {
        width: 38px;
    }
}

td a {
    text-decoration: none;
}