/* Estiliza o popup do swal */
/* .swal-custom-popup {
} */

/* Estiliza o conteúdo HTML do swal */
/* .swal-custom-html {
} */

/* SEU CONTEÚDO INTERNO */
.gm-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}


.gm-input input,
.gm-input2 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.gm-input2 textarea {
    min-height: 80px;
    resize: none;
}
